// Special version of Bootstrap that only affects content wrapped in .bootstrap-iso
link(rel='stylesheet', href='https://formden.com/static/cdn/bootstrap-iso.css')
h1 Edit Your Employer Profile
// Inline CSS based on choices in "Settings" tab
style.
  .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}

.bootstrap-iso
  .container-fluid
    .row
      .col-md-6.col-sm-6.col-xs-12
        form(action='/employer/editEmployer', method='POST')
          input(name='EmpId', type='hidden', value=EmpId)
          .form-group
            label.control-label(for='name')
              | Employer Name
              span.asteriskField
                | *
            input#name.form-control(name='EmpName', type='text', value=EmpName)
          .form-group
            label.control-label(for='name')
              | Address
              span.asteriskField
                | *
            input#name.form-control(name='EmpAddress', type='text', value=EmpAddress)  
          .form-group
            label.control-label(for='name')
              | Phone Number
            input#name.form-control(name='Phone', type='text', value=Phone)            
          .form-group
            label.control-label.requiredField(for='email')
              | Email
              span.asteriskField
                | *
            input#email.form-control(name='Email', type='text', value=Email)
          form-group
            label.control-label.requiredField(for='email')
              | Representative Name
              span.asteriskField
                | *
            input#email.form-control(name='Rep', type='text', value=Rep)
          .form-group
            div
              button.btn.btn-primary(name='submit', type='submit')
                | Submit
